.SideBar{
    margin-top: 1rem;
    flex: 0.33;
    height: 100vh;
}

.SideBar ul{
    padding-left: 1rem;
}
.SideBar__avatar{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 0.3rem;
    
}

.SideBar__avatar h5{
    margin-left: 0.8rem;
    font-weight: 600;
    font-size: 1rem;
}

.SideBar__avatar:hover{
    background-color: white;  
}

@media only screen and (max-width: 1065px) {
   
    .SideBar{
        display: none;
    }
}